<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="style" href="style.css">
</head>
<body>
    <h1> circlevintage </h1>
    <h2> the best vintge clothing pieces </h2>
    <a herf = "/added" ><img src="https://www.google.com/search?sxsrf=AB5stBgKbtmOO8fP463p_f-HxTvUts0OWg:1689663433414&q=vintage+pants&tbm=isch&sa=X&ved=2ahUKEwjM_vPl1peAAxWUT6QEHUsgBj0Q0pQJegQIDRAB&biw=1846&bih=887&dpr=1#imgrc=vxi-UrlV3L9loM.jpg" width="200" height="300"></a>
    <a herf = "/added"><img src="https://www.pacsun.com/dw/image/v2/AAJE_PRD/on/demandware.static/-/Sites-pacsun_storefront_catalog/default/dw7b0829a7/product_images/0120522800446NEW_01_052.jpg?sw=300" width="200" height="300"></a>
    <a herf = "/added"><img src="https://media.gq.com/photos/641324cc9c2ca2de1f77abd6/1:1/w_1125,h_1125,c_limit/vintage-tees-tshirts-online.jpg" width="200" height="300"></a>


    <img src="https://www.google.com/search?sxsrf=AB5stBgKbtmOO8fP463p_f-HxTvUts0OWg:1689663433414&q=vintage+pants&tbm=isch&sa=X&ved=2ahUKEwjM_vPl1peAAxWUT6QEHUsgBj0Q0pQJegQIDRAB&biw=1846&bih=887&dpr=1#imgrc=vxi-UrlV3L9loM.jpg" width="200" height="300"><a herf = "/added to cart">
    <img src = "https://www.pacsun.com/dw/image/v2/AAJE_PRD/on/demandware.static/-/Sites-pacsun_storefront_catalog/default/dw7b0829a7/product_images/0120522800446NEW_01_052.jpg?sw=300" width="200" height="300"><a herf = "/added to cart">
    <img src = https://media.gq.com/photos/641324cc9c2ca2de1f77abd6/1:1/w_1125,h_1125,c_limit/vintage-tees-tshirts-online.jpg width="200" height="300"><a herf = "/added to cart">


    <a href="/shirts"> shirts</a>
    <a href="/pants"> pants</a>
    <a href="/sweatshirts "> sweatshirts</a>
    <a href="/socks "> socks</a>
    <a href="/product "> go to see our products</a>





</body>
</html>