<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <h1> lets start building a new look!!</h1>
    <p> here you can see alll of the clothing pieces we are selling</p>
     <img src = "https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.ebayimg.com%2F00%2Fs%2FMTYwMFgxNDky%2Fz%2FbJgAAOSw58piDsnV%2F%24_12.JPG%3Fset_id%3D880000500F&tbnid=PYlnqubsyfN0PM&vet=12ahUKEwiCsZHdv5iAAxUJpCcCHQvYD80QMygGegUIARDyAQ..i&imgrefurl=https%3A%2F%2Fwww.ebay.com%2Fitm%2F234426282327&docid=TDdRRs7_jp1cEM&w=466&h=500&q=vintage%20sweatshirts&ved=2ahUKEwiCsZHdv5iAAxUJpCcCHQvYD80QMygGegUIARDyAQ" width="200" height="300">
    <a href = "/"> go back to home page</a>
    <a href="/cart "> go to cart</a>

</body>
</html>
